   .buttons-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    /* Adjust button width as needed */
    grid-gap: 10px;
    /* Adjust gap between buttons as needed */
    margin-bottom: 40px;
    /* Adjust margin between grids as needed */
  
  }
  
  .color-button {
    width: 30px;
    /* Adjust button width as needed */
    height: 20px;
    /* Adjust button height as needed */
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
  }
