body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    /* Adjust button width as needed */
    grid-gap: 10px;
    /* Adjust gap between buttons as needed */
    margin-bottom: 40px;
    /* Adjust margin between grids as needed */
  
  }
  
  .color-button {
    width: 50px;
    /* Adjust button width as needed */
    height: 50px;
    /* Adjust button height as needed */
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
  }
  .nav-center {
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 50%;
    left: 25%;
  }

  .n-container {
    position: fixed;
    top: 25%;
    left: 25%;
  }

  .fourD {
    position: fixed;
    top:75%;
    left: 25%
  }
